
@media screen and (min-width: 768px) and (max-width: 992px) {

    body {
        background-image: linear-gradient(to top,#49a09d, #5f2c82);
    }

    section#login{
        width: 80vw;
    }

    section#login > div#imagem{
       float: left;
       width: 30%;
       height: 100%;
    }

    section#login > div#formulario {
        float: right;
        width: 70%;
    }

    div#formulario > h1{
        text-align: center;
        margin-bottom: 10px;
    }
    
    div#formulario > p{
        font-size: 0.8em;
        padding: 20px;
    }

    div.campo > input{
        background-color: #68cecb8e;
        font-size: 1em;
        width: calc(100% - 45px);
        height: 100%;
        border: 0px;
        border-radius: 8px;
        padding: 2px;
        margin-top: 12px;
        transform: translateY(-12px);
    }
    
    form > div.campo{
        background-color: #5f2c82;
        display: block;
        width: 100%;
        height: 40px;
        border-radius: 8px;
        margin: 5px 0px;
    }
    

}

    @media screen and (min-width: 992px){

        body {
            background-image: linear-gradient(to top,#49a09d, #5f2c82);
        }

        section#login {
            width: 950px;
        }

        section#login > div#imagem{
            display: block;
            background: #5f2c82 url(../imagens/tela-grande.jpg) no-repeat;
            background-size: cover;
            background-position: center center;
        }

        section#login > div#formulario h1 p {
            float: left;
            width: 100%;
        }

        div#formulario > h1{
            font-size: 2em;
        }

        div#formulario > p{
            font-size: 1em;
            padding: 2px;
            text-align: center;
        }

        form{
            margin-left: 15em;
        }

        form > div.campo{
            background-color: #5f2c82;
            text-align: center;
            display: block;
            width: 60%;
            height: 40px;
            border-radius: 5px;
            margin: 5px 0px;
        }
        
        form > input[type=submit]{ /* configuração bnt entrar*/
            display: block;
            font-size: 1em;
            width: 60%;
            height: 40px;
            background-color: #49a09d;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        
        }
        
        form > input[type=submit]:hover{
            background-color: #1f4443;
        }
        
        form > a.botao{
            display: block;
            
            text-align: center;
            font-size: 1em;
            width: 60%;
            height: 40px;
            padding-top: 1px;
            margin-top: 7px;
            background-color: #fff;
            color: #1f4443;
            border: 1px solid #49a09d56;
            border-radius: 7px;
            text-decoration: none;
        }
        
        form > a.botao:hover{
           background-color: #3eafab63;
        }
        
        form > a.botao > span{
            font: 0.8em;
        }

        div.campo > span{
            color: #fff;
            font-size: 2em;
            width: 12px;
            margin-right: 2em;
            
        }

        div.campo > input{
            background-color: #68cecb8e;
            font-size: 1em;
            width: calc(76.4% - -16px);
            height: 100%;
            border: 0px;
            border-radius: 8px;
            padding: 2px;
            margin-top: 12px;
            transform: translateY(-12px);
        }
        
        form > div.campo{
            background-color: #5f2c82;
            display: block;
            width: 60%;
            height: 40px;
            border-radius: 8px;
            margin: 5px 0px;
        }
        
    
        
    }